@import "tailwindcss";

/* google fonts */
@import 
url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* design */
@theme {
    --font-family: 'Fredoka', sans-serif;

    --color-primary-50: #eef2ff;
    --color-primary-100: #e0e7ff;
    --color-primary-500: #6366f1;
    --color-primary-600: #4f46e5;
    --color-primary-700: #4338ca;


    --color-secondary-500: #8b5cf6;
    --color-success-500: #10b981;
    --color-accent-500: #06b6d4;
    --color-danger-500: #f43f5e;
    --color-surface: #ffffff;
    --color-background: #f8fafc;
    --color-sidebar: #0f172a;
    --color-border: #e2e8f0;
}

/* base styles */
@layer base {
    *{
        @apply border-border
    }

    html{
        scroll-behavior: smooth;
    }

    body {
        @apply bg-background text-slate-700 antialiased font-family;
    }

    h1 {
        @apply text-4xl font-bold text-slate-900;
    }

    h2 {
        @apply text-3xl font-semibold text-slate-900;
    }

    h3 {
        @apply text-xl font-semibold text-slate-900;
    }

    p {
        @apply text-slate-600;
    }

    button {
        @apply cursor-pointer transition-all duration-300 ease-in-out;
    }

    input {
        @apply w-full rounded-xl border border-slate-300 bg-white px-4 py-3 outline-none transition-all duration-200 ease-in-out;
    }
    input:focus {
        @apply border-primary-600 ring-4 ring-primary-100;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::after::-webkit-scrollbar-track {
    background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #64748b;
}

/* components */
@layer components {

    .btn-primary {
        @apply rounded-xl bg-gradient-to-r from-indigo-600 to-purple-600 text-white font-semibold px-5 py-3 shadow-xl hover:scale-[1.02] hover:shadow-xl transition-all duration-300 ease-in-out;
    }

    .btn-secondary {
        @apply rounded-2xl border border-slate-300 bg-white px-5 py-3 font-semibold hover:bg-slate-50;
    }

    .card {
        @apply rounded-2xl bg-white p-6 shadow-sm border border-slate-200;
    }
    
    .auth-card {
        @apply rounded-3xl border border-white/20 bg-white/80 p-8 shadow-2xl backdrop-blur-xl;
    }

    .sidebar {
        @apply flex items-center gap-3 rounded-xl px-4 py-3 font-medium transition-all duration-200 hover:bg-slate-800;
    }

    .nav-icon {
        @apply h-5  w-5;
    }
}

/* utilities */
@layer utilities {
    .text-gradient {
        @apply bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600 bg-clip-text text-transparent;
    }

    .glass {
        @apply border border-white/20 bg-white/70 backdrop-blur-xl;
    }

    .page {
        @apply min-h-screen bg-background;
    }
}